@media (max-width:1820px) {
    .as_container{max-width: 96%;}
}
@media (max-width:1687px) {
    .blog_list ul li a{line-height: 23px;font-size: 25px;}
    .blog_list ul li h2{line-height: 31px;}
    .right_news ul li a img{min-height: 318px;}
    .testimonial_left .coll-2 ul li a img{min-height: 238px;}
.testimonial_left .coll-1 ul li, .testimonial_left .coll-1 ul li img{min-height: 140px;}
.right_news ul li{height:323px;}
}


@media (max-width:1440px) {
.banner_content h1{line-height: 28px;}.banner_content ul li{    line-height: 22px;}
.blog_list ul li a{line-height: 27px;font-size: 25px;}
.home_banner_icon{background-position: 365px 100%;}
.banner_content{padding: 212px 0px 0px 60px;}
.right_news ul li{height:323px;}
.testimonial_left .coll-2 ul li a img{min-height: 238px;}
.testimonial_left .coll-1 ul li, .testimonial_left .coll-1 ul li img{min-height: 140px;}
.blog_list ul li h2{line-height: 31px;}
.right_news ul li a img{min-height: 318px;}
.blog_list ul li a{line-height: 23px;}
}

@media(max-width:1366px){
    .blog_list ul li h2{line-height: 31px;}  
    .blog_list ul li a{font-size: 24px;} 
    .left_news ul li:last-child{display: none;}
    .testimonial_left .coll-1 ul li, .testimonial_left .coll-1 ul li img{min-height: 137px;}
    .testimonial_left .coll-2 ul li a img{min-height: 229px;}
}
@media (max-width:1360px) {
.blog_list li:nth-last-of-type(2),.blog_list li:nth-last-of-type(1){display: none;}
.testimonial_post p{    margin-top: 30px;padding-bottom: 30px;}
}

@media (max-width:1140px) {
/* .navigation ul{padding-left: 40px;} */
.navigation ul li a{padding-right: 25px;}
.logo{width: 170px;margin-top: 6px;}.logo img{width: 100%;}
.right_news ul li{width: 50%;}.banner_content{width: 100%;}
.testimonial_post{width: 100%;    padding: 46px 34px 0px 39px;}.testimonial_left{    width: 100%;}
.home_banner_br_none .srch_width_1019{width: 90%;}

}


@media (max-width:991px) {
.right_nav{position: absolute;right: 20px;}
.left_nav{width: 100%;}
.navbar-toggler{float: left;background: #314f74;}
.logo{margin-left: -135px;position: absolute;left: 50%;}

.navigation,.navigation ul li{width: 100%;}
.navigation ul{padding-left: 0;background: #eee;}
.navbar-toggler-icon span{height: 2px;width: 100%;background: #fff;margin: 4px 0;float: left;}
.navigation ul li a{padding:10px 0 10px 20px;display: block}

/* footer  */
.left_footer {width: 35%;}.social_link ul{    width: 100%;}
.right_footer .social_link{width: 40%; float: left;}.subcribe{float: right;}.right_footer{width: 65%;}

}

@media (max-width:768px) {
.latest_blog,.blog_list,.left_news,.right_news{width: 100%;}
.latest_blog img{min-height: auto;}.latest_blog{margin-bottom: 20px;}
.new_section{margin: 50px 0px;}
.home_banner{border-right: solid 40px #f8f8f8;}.as_controls{right: -40px;width: 40px;}
.blog_control{padding: 8px 105px;right: -430px;}.banner_content{padding: 50px 0px 0px 50px;}
.as_full_width{    margin-bottom: 80px;}

/*----- test    ---*/
.testimonial_left .coll-3 ul li,.testimonial_left .coll-3 ul li:nth-child(3){    width: 33.3%;}
.testimonial_left .coll-3{    width: 100%;}.testimonial_left .coll-2{width: 59%;}.testimonial_left .coll-1{width: 41%;}
.testimonial_left .coll-3 ul li,.test_m_img_height_192{overflow: hidden;} .testimonial_left li.test_m_img_height_192 a {height: 192px;}

/*- fote */
.right_footer .social_link,.left_footer,.subcribe form,.subcribe,.right_footer{width: 100%;}
.subcribe form{width: 175px !important;}
.subs_btn{right:auto; left: 192px;}
.left_footer,.right_footer{    padding-left: 15px;}
}
@media (max-width:767px) {
    .mt_130{margin-top: 30px;}
}

@media (max-width:460px) {
.left_nav{padding-left: 0;}
.right_nav{right: 0px;}
.right_nav .btn_usr_login{padding: 0 14px;line-height: 30px;font-size: 14px;}
.right_nav font{display: none}
.navbar-toggler-icon span{margin: 2px 0;}
.navbar-toggler-icon{height: 1.0em;width: 1.0em;}
.navbar-toggler{padding: .25rem .55rem;}
.logo{left: 63%;}.banner_content{padding: 50px 30px 0px 20px;}.banner_content h1{font-size: 24px;}

.news_text h2{    font-size: 20px;}
.b_heading{line-height: 22px; font-size: 18px;}.blog_list ul li,.right_news ul li{width: 100%;}
.right_news ul li a img{    min-height: auto;}.right_news ul li{height: auto;}
/*----- test    ---*/
.testimonial_left li.test_img_height_192 img{min-height:90px;}
.testimonial_left li.test_img_height_192, .testimonial_left li.test_img_height_192 a , .testimonial_left li.test_m_img_height_192 a {height: 90px;}
}


