@charset "UTF-8";

@font-face {
  font-family: 'Helvetica-Bold';
  
  src: url('../font/Helvetica-Bold.woff2') format('woff2'),
       url('../font/Helvetica-Bold.woff') format('woff'),
       url('../font/Helvetica-Bold.ttf') format('truetype');
     

}
@font-face {
  font-family: 'Helvetica-Oblique';
  
  src: url('../font/Helvetica-Oblique.woff2') format('woff2'),
       url('../font/Helvetica-Oblique.woff') format('woff'),
       url('../font/Helvetica-Oblique.ttf') format('truetype');
     

}
ul,h1,h2,h3,p{margin:0; padding: 0;}
a:hover{ text-decoration: none;}

.as_container{max-width:1720px; width:100%; display: block; margin: 0 auto;}
/*
navigation Starts  from Here
*/
.left_nav{ padding-top:25px; display: inline-block; width:90.23%;}
.right_nav{padding-top: 20px; display: inline-block; float: right;width: 9.76%;}
.logo{ display:inline-block; float: left;}
.right_nav a{ background:#314f74; line-height: 40px; display: inline-block; padding: 0 26px; color: #fff; border-radius: 20px;}
.clear{clear: both;}
header{line-height: 0px; padding-bottom:20px;}
.navigation{ float: left; width:80%;line-height: normal;}
.navigation ul{ display: inline-block; list-style: none; width: 100%; margin: 6px 0 0 0; padding-left:13%;}
.navigation ul li{ float: left;}
.navigation ul li a{ text-decoration: none; color: #314f74; padding-right:46px; font-family: 'roboto'; font-size: 18px; font-weight: 400;}
/*
navigation Ends  Here
*/

/*
Home Banner Start From here
*/
.home_banner{width: 100%;float: none;border-right: solid 100px #f8f8f8;position: relative; background: url(../images/home_banner.jpg) right bottom no-repeat;min-height: 664px;background-size: cover;}
.home_banner img{ width:100%;}
.as_controls{/* width:5.20%; */background:#f8f8f8;/* float: left; */position: absolute;top: 0;right: -60px;}
.search_control{ padding: 35px 0px 35px 42px; display: block;}
.search_control ul{ list-style: none;}
.search_control ul li{line-height: 17px;}
.search_control ul li img{ width:auto;}
.search_control ul li:nth-child(2){margin-top:25px;}
.search_control ul li a{}
.blog_control{background: #fff;display: block;position: absolute;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);right: -490px;top: 131px;padding: 38px 105px;width: 390px;text-align: center;}
.blog_control a{
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* background: none; */
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    }
    .blog_control img{ width: auto;position: absolute; left:-31px;transform: rotate(-90deg); top: 0}
    .banner_content{ padding:212px 0px 0px 100px; color:#fff;width: 36%;display: inline-block; }
	.banner_content ul{list-style: none;margin-left: 16px;}
    .banner_content ul li{font-family: 'Helvetica-Oblique';font-size: 18px;line-height: 15px;margin-bottom: 23px;padding-left: 25px;position: relative;}
	.banner_content ul li::before{content: '';background: url(../images/icons/banner_arrow.png) left center no-repeat;height: 16px;width: 7px;position: absolute;left: 0;}
    .banner_content h1{ color:#fff; font-family: 'helvetica-bold'; font-weight: 500; font-size: 32px;line-height: 28px; margin-bottom: 73px;}
    .as_full_width{ margin-bottom: 121px;}

/*
Home Banner Ends here
*/

/*Home Blog Section Starts from  Here*/

.latest_blog{ position: relative;float:left;width:47.84%;margin-right: 2.90%;}
.latest_blog img{ width:100%;}
.blog_des{ position: absolute; bottom: 0; left: 0; color:#fff; padding-left: 20px; padding-bottom: 16px; padding-right: 88px;}
.b_date{ display: block; width:100%; font-family: 'roboto'; font-weight: 500; font-size: 14px;}
.b_heading{display: block; width:100%;font-family: 'roboto'; font-weight: 700; font-size: 30px; line-height:36px;}
.b_description{display: block; width:100%;font-family: 'roboto'; font-weight: 400; font-size: 14px;}


.blog_list{ width:49.20%; float: left;}
.blog_list ul{ list-style: none;}
.blog_list ul li{ width:43.61%; border-bottom: 1px solid #e3e6e6; float: left;margin-bottom: 26px; padding-bottom: 9px;display:inline-grid; display:-moz-inline-grid; display: -ms-inline-grid}
.blog_list ul li:nth-child(2n+1){margin-right:9.45%;}
.blog_list ul li:nth-child(5){margin-bottom: 0;}
.blog_list ul li:nth-child(6){margin-bottom: 0;}
.blog_list ul li a{  color: #000000;font-family: 'roboto'; font-weight: 900; font-size: 30px;line-height: 35px;}
.blog_list ul li p{font-family: 'roboto'; font-weight: 400; font-size: 14px; line-height: 15px; margin-top: 3px;}

.blog_list ul li  a.b_learn_more{ color: #0767d3;font-family: 'roboto'; font-weight: 400; font-size: 12px; text-transform: uppercase; margin-top: 20px; display: inline-block;line-height: 12px; }
/*Home Blog Section Starts from  Here*/

/*
News Section starts from here
*/
.new_section{ margin: 120px 0px;display: inline-block;width: 100%;}
.left_news{ width:28.95%; float: left; background: #0767d3;padding: 62px 40px 47px 30px;}
.left_news h2{ font-family: 'roboto'; font-weight: 700; font-size: 36px; color: #ffffff;line-height: 27px; padding-bottom: 16px;border-bottom:solid 1px #065ab8;}
.left_news ul{ list-style: none;}
.left_news ul li{ padding: 31px 0 28px 0;border-bottom:solid 1px #065ab8; position: relative; padding-right: 55px;}
.left_news ul li::after{content: '';background: url(../images/icons/news_arrow.png) right center no-repeat;width:23px;height: 15px;position: absolute;right: 0;top: 32px;}

.left_news ul li a{font-family: 'roboto'; font-weight: 400; font-size: 18px; color: #ffffff; line-height: 13px;}
.ai_certification{ background: #054893; display: inline-block;padding: 25px 0 25px 22px; margin-top: 45px;}
.left_news .ai_certification a{ font-family: 'roboto'; font-weight: 500; font-size: 26px; color: #fff;line-height: 31px;}
.right_news{ width:71%; float: left;}

.right_news ul{list-style: none;}
.right_news ul li{ float: left;position: relative;}
.right_news ul li span{ display: inline-block;}
.right_news ul li a{ display: inline-block;}
.right_news ul li:nth-child(1){ width:35.87%;}
.right_news ul li:nth-child(2){background: #eef2f7; width: 41.85%;}
.right_news ul li:nth-child(3){width: 22.28%;}
.right_news ul li:nth-child(4){ width:35.87%;position: static;}
.right_news ul li:nth-child(5){ width: 41.85%;}
.right_news ul li:nth-child(6){width: 22.28%;}
.news_text{ position: absolute; bottom: 0;background: linear-gradient(transparent, rgba(0, 0, 0, 1));padding: 0 27px 12px 12px;width: 100%;}
.news_text h2{ font-family: 'roboto';font-weight: 700; font-size: 26px; color: #fff;}
.news_text p{font-family: 'roboto';font-weight: 400; font-size:14px; color: #fff;}
.news_without_img{padding:20px 0px 23px 0px; display: inline-block; border-bottom: solid 1px #dbdee1;}
.news_without_img h2{font-family: 'roboto';font-weight: 700; font-size:26px; color: #404040;line-height: 31px;}
.padding_left{ padding: 0 20px; display: inline-block;}
.news_without_img p{font-family: 'roboto';font-weight: 400; font-size:14px; color: #404040;margin-top: 7px;}
.border_none{ border-bottom:none;}
.news_position{position: relative;}
/*
News Section Ends here
*/


/*testimonial Section starts from here*/
.testimonial_left{ width:61.33%; float: left;}
.testimonial{ display: block; width: 100%; margin-bottom:80px;}
.testimonial_left .coll-1{ width: 26.16%; float: left;}
.testimonial_left .coll-2{ width:37.26%; float: left;}
.testimonial_left .coll-2 ul{ list-style: none;}
.testimonial_left .coll-2 ul li{ float: left;  width: 50%;}
.testimonial_left .coll-2 ul li a img{ width:100%;}
.testimonial_left .coll-3{ width:36.58%; float: left;}
.testimonial_left .coll-3 ul{list-style: none;}
.testimonial_left .coll-3 ul li{ width:50%; float: left;}
.testimonial_left .coll-3 ul li a{ display: inline-block; width: 100%;}
.testimonial_left .coll-3 ul li a img{ width: 100%;}
.testimonial_left .coll-3 ul li:nth-child(3){ width: 100%;}
.testimonial_left .coll-1 ul{ list-style: none;}
.testimonial_left .coll-1 ul li{ width: 100%;}
.testimonial_left .coll-1 ul li img{ width: 100%;}
.testimonial_post{background: url(../images/testimonial/testimonial_bg.jpg) right bottom no-repeat; background-position: 100% 100%; background-size: cover;padding: 76px 34px 0px 39px; float: left;width: 38.67%;min-height: 546px;}
.student_detail{ display: inline-block; float: left;}
.star_rating{ display: inline-block; float: right;}
.student_from{display: block; font-weight: 700; font-family: 'roboto'; font-size: 16px; color: #ffffff;line-height: 13px;margin-top: 5px;}
.testimonial_date{ display: block; font-weight: 500; font-family: 'roboto'; font-size: 14px; color: #ffffff;line-height: 12px;
    margin-top: 20px;}
.student_name{ font-weight: 300; font-family: 'roboto'; font-size: 30px; color: #ffffff;    line-height: 30px; display: inline-block;}
.testimonial_post p{margin-top:93px;font-family: 'roboto'; font-size: 16px; color: #ffffff; font-weight: 300;line-height: 28px;  }
/*testimonial Section starts from here*/

/*footer starts From here*/
footer{ background: #314f74; display:block;  padding-top: 74px;padding-bottom: 16px;}
.left_footer{ width:50%; float: left;}
.left_footer ul{ list-style:none;}
.left_footer ul li{ float: left; width: 50%;line-height: 12px;margin-bottom: 28px;}
.left_footer ul li a{ font-family: 'roboto';font-weight: 400; font-size:14px; color: #fff; text-transform: uppercase;line-height: 12px; display: inline-block;}
.right_footer{ width:50%; float: left;}
.social_link ul{ width:50%; float: left;}
.social_link ul{ list-style: none;}
.social_link ul li{ width:100%;line-height: 12px; margin-bottom: 28px; position: relative; padding-left:33px; }
.social_link ul li:nth-child(1)::before{content: '';background: url(../images/social-icons/facebook.png) left center no-repeat;position: absolute;width:13px;height: 21px;left: 0;top: -5px;}
.social_link ul li:nth-child(2)::before{content: '';background: url(../images/social-icons/twitter.png) left center no-repeat;position: absolute;width:20px;height: 21px;left: 0;top: -5px;}
.social_link ul li:nth-child(3)::before{content: '';background: url(../images/social-icons/linkedin.png) left center no-repeat;position: absolute;width:23px;height: 18px;left: 0;top: -4px;}
.social_link ul li a{ font-family: 'roboto';font-weight: 400; font-size:14px; color: #fff; text-transform: uppercase;line-height: 12px; display: inline-block;}
.subcribe{width:50%;float: left;position: relative;}
.testimonial_left{ width: 61.33%; float: left;}

/*---------------------     input text -------------------       */  
.transition, form button, form .question label, form .question input[type="text"],form .question input[type="password"] {-moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
-o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);-webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);}

form .question {position: relative;margin:13px 0; }
form .question:first-of-type {padding-top: 0;}
form .question:last-of-type {padding-bottom: 0;}
form .question label {transform-origin: left center;color: #000000;font-weight: 400;letter-spacing: 0.01em;font-size: 16px;box-sizing: border-box;
padding: 0px 15px;display: block;position: absolute;margin-top: -40px;z-index: 2;pointer-events: none;font-family:'roboto';}
form .question input[type="text"] ,form .question input[type="password"] {appearance: none;background-color: none;border: 1px solid #b2c6de;line-height: 0;
font-size: 16px;width: 100%;height: 54px;display: block;box-sizing: border-box;padding:10px 15px 0;border-radius: 5px;color: #67809f;font-weight: 400;
letter-spacing: 0.01em;position: relative;z-index: 1;font-family:'roboto';}
form .question input[type="text"]:hover ,form .question input[type="password"]:hover{border: 1px solid #314f74;}
form .question input[type="text"]:focus,form .question input[type="password"]:focus {outline: none;background: #fff;color: #67809f;padding-top:20px;}
form .question input[type="text"]:valid,form .question input[type="password"]:valid {padding-top: 20px;}

form .question input[type="text"]:focus ~ label,form .question input[type="password"]:focus ~ label {-moz-transform: translate(0, -10px);-ms-transform: translate(0, -10px);-webkit-transform: translate(0, -10px);
transform: translate(0, -10px);}
form .question input[type="text"]:valid ~ label,form .question input[type="password"]:valid ~ label {-moz-transform: translate(5px, -10px) scale(0.8);
-ms-transform: translate(5px, -10px) scale(0.8);-webkit-transform: translate(5px, -10px) scale(0.8);transform: translate(5px, -10px) scale(0.8);}
.subcribe span{ display: block; font-family: 'roboto'; font-size:16px; font-weight: 400; color: #fff;}
.subcribe  .question input[type="text"]{border-top:none;border-left:none;border-right:none; border-radius:0; border-bottom: solid 1px #6b92c1;background: none; padding-left: 0;}
.subcribe  .question input[type="text"]::-webkit-input-placeholder{ color: #6b92c1}
.subcribe  .question input[type="text"]::-ms-input-placeholder{ color: #6b92c1}
.subcribe  .question input[type="text"]::placeholder{ color: #6b92c1}
.subcribe .question label{ color:#6b92c1; padding-left: 0;}
.subcribe .question input[type="text"]:focus{ background: none;}
.subcribe .question input[type="text"]:hover{ border-top:none;  border-left:none;  border-right:none; border-bottom:solid 1px #6b92c1 } 
.subcribe form{ width:61%; display: inline-block; float: left;}
.subs_btn{position: absolute;float: left;right: 68px;bottom: 13px;}
.subscribe_border{border-right:solid 2px #6b92c1;height: 20px;position: absolute;left: -5px;top: auto;bottom: 0px;}
.subs_btn input[type="button"]{background:none;border:none;font-family: 'roboto';font-size: 14px;font-weight: 700;text-transform: uppercase;color: #fff;padding-left: 3px;}
/*---------------------     input text -------------------       */  


/*Career Page CSS starts here*/

/*Career Page CSS Ends  here*/

/*Footer bottom starts from here*/
.footer_bottom{ border-top:solid 1px #3d5c83;  color:#6b92c1; font-family: 'roboto'; font-weight: 400; font-size:12px; padding-top: 14px;}
.footer_bottom .footer_bottom_left{ float: left;font-family: 'roboto'; font-weight: 400; font-size:12px;line-height: 12px;}
.footer_bottom .footer_bottom_right{ float: right; line-height: 11px;}
.footer_bottom .footer_bottom_right a{font-family: 'roboto'; font-weight: 400; font-size:12px;line-height: 11px; color:#6b92c1;}
/*Footer bottom Ends  here*/












